# laravel
.env
/vendor/
storage/

# node modules
resources/npm-debug.log
resources/node_modules
node_modules/

# gitkeep
!.gitkeep

#Homestead
environments/development/homestead/Homestead.yaml
environments/development/homestead/.vagrant/

# develop tools
.phpstorm.meta.php
_ide_helper.php

# Eclipse
.project
.classpath
.settings
.metadata
.buildpath

# Idea
IlluminatedCloud/
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Vim
*.swp
*.swo

